<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<div class="img1">
  <img src="../../assets/mentors/anh12.PNG">
</div>

<div class="address">
  <i class="fa fa-map-marker" aria-hidden="true"></i>
  <p><b>Tầng 3 - số 60-62-Bạch Mai - Hai Bà Trưng - Hà Nội</b> </p>
  <p><b> Tầng 6 - Tòa nhà AC - số 78 - Duy Tân - Cầu Giấy - Hà Nội</b></p>
  <i class="fa fa-phone" aria-hidden="true"></i>
  <p><b>0865. 395. 388</b></p>
  <p><b>0243 368 8599</b></p>
</div>

<div class="row">
  <div class="col" ></div>
  <div class="col" style="background-color:#0f355b;"> <b> HUẤN LUYỆN VIÊN</b></div>
  <div class="col" ></div>
</div>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <span class="items">
          <img src="../../assets/mentors/1.jpg" class="d-block w-40 h-30" alt="...">
          <h6><b>TRẦN XUÂN KHÔI</b></h6>
          <p><i>Chuyên gia công nghệ thông tin hàng đầu Việt Nam</i></p>
        </span>
        <span class="items">
          <img src="../../assets/mentors/2.jpg" class="d-block w-40 h-30" alt="...">
          <h6><b>NGUYỄN QUYẾT</b></h6>
          <p><i>Chuyên gia công nghệ thông tin</i></p>
        </span>
        <span class="items">
          <img src="../../assets/mentors/3.jpg" class="d-block w-40 h-30" alt="...">
          <h6><b>NGUYỄN NGỌC DUY</b></h6>
          <p><i>Giảng viên Java Web</i></p>
        </span>
    </div>

    <div class="carousel-item">
      <span class="items">
        <img src="../../assets/mentors/2.jpg" class="d-block w-40 h-30" alt="...">

        <h6><b>Nguyễn Quyết</b></h6>
        <p><i>Chuyên gia công nghệ thông tin</i></p>
      </span>
      <span class="items">
        <img src="../../assets/mentors/3.jpg" class="d-block w-40 h-30" alt="...">
        <h6><b>Nguyễn Ngọc Duy</b></h6>
        <p><i>Giảng viên Java Web</i></p>
      </span>
      <span class="items">
        <img src="../../assets/mentors/1.jpg" class="d-block w-40 h-30" alt="...">
        <h6><b>TRẦN XUÂN KHÔI</b></h6>
        <p><i>Chuyên gia công nghệ thông tin hàng đầu Việt Nam</i></p>
      </span>

    </div>
    <div class="carousel-item">
      <span class="items">
        <img src="../../assets/mentors/3.jpg" class="d-block w-40 h-30" alt="...">

        <h6><b>Nguyễn Ngọc Duy</b></h6>
        <p><i>Giảng viên Java Web</i></p>
      </span>
      <span class="items">
        <img src="../../assets/mentors/1.jpg" class="d-block w-40 h-30" alt="...">
        <h6><b>TRẦN XUÂN KHÔI</b></h6>
        <p><i>Chuyên gia công nghệ thông tin hàng đầu Việt Nam</i></p>
      </span>
      <span class="items">
        <img src="../../assets/mentors/2.jpg" class="d-block w-40 h-30" alt="...">
        <h6><b>Nguyễn Quyết</b></h6>
        <p><i>Chuyên gia công nghệ thông tin</i></p>
      </span>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col-2" ></div>
  <div class="col" style="background-color:#0f355b;"> <b> CHUYÊN GIA NÓI VỀ CHƯƠNG TRÌNH ĐÀO TẠO</b></div>
  <div class="col-2" ></div>
</div>
<div class="row">
  <div class="col-1" ></div>
  <div class="col-4" >
    <img src="../../assets/mentors/1.jpg"alt="">
  </div>
  <div class="col-1" ></div>
  <div class="col-5" >sdfghjkljhgfdfghj</div>
  <div class="col-1" ></div>
</div>


<div class="row">
  <div class="col-1" ></div>
  <div class="col-5" >sdfghjkljhgfdfghj</div>

  <div class="col-1" ></div>
  <div class="col-4" >
    <img src="../../assets/mentors/1.jpg"alt="">
  </div>
  <div class="col-1" ></div>
</div>





